<?xml version="1.0" encoding="UTF-8" ?>
<PowerDeComposerConfig>
	<Decompose>
		<DecomposableElement>
			<ElementCondition xpath="./Name" />
			
			<TargetFolderNames>
			</TargetFolderNames>
			<TargetFileNames>
				<TargetFileName xpath="./Name" condition="string-length(./Name) > 0" />
			</TargetFileNames>
		</DecomposableElement>
	</Decompose>
</PowerDeComposerConfig>